@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 233, 246, 255;
    --muted: 115 115 115;
    --accent: 142, 212, 255;
    --firefly: 142, 212, 255,0.7;
  }

}


@layer utilities {
  .pause{
    animation-play-state: paused;
  }
}


@keyframes move {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(100px,100px);
  }
  
}