@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{

  color: rgb(114, 201, 255);
} */

/* Hide Scrollbar for WebKit Browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;  
}

/* Hide Scrollbar for Firefox & Edge */
.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}



@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 202, 235, 255;
    --yellow_accent: 255, 253, 193;
    --blue_accent :114, 201, 255;
  }

}


@layer utilities {

  .pause {
    animation-play-state: paused;
  }

  .custom-bg1 {
    @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
  }
  .custom-bg2 {
    @apply bg-background/20 border border-yellow_accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset-y hover:shadow-glass-sm-y;
  }

}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, 100px);
  }
}