@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{

  color: rgb(177, 224, 253);
} */



@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 202, 235, 255;
    
  }

}


@layer utilities {

  .pause{
    animation-play-state: paused;
  }

}

@keyframes move {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(100px,100px);
  }
}